.main__title {
	margin: 0 auto;
	padding: 0;
	margin-top: 159px;
	text-align: center;
	max-width: 730px;
	font-weight: 400;
	font-size: 50px;
	line-height: 58px;
}

h2.main__title {
	margin: 0;
	margin-top: 90px;
	padding: 0;
}

.main__header {
	margin: 0 auto;
	padding: 0;
	padding-top: 110px;
	max-width: 1140px;
	width: 100%;
	border-bottom: 1px solid #DADADA;
}

.main__header_place_techs {
	padding-top: 100px;
}


.main__subtitle {
	margin: 0;
	padding: 0;
	margin-bottom: 23px;
	font-weight: 400;
	font-size: 22px;
	line-height: auto;
	letter-spacing: -4%;
}


@media (max-width: 899px) {
	.main__title {
		max-width: 680px;
		font-size: 40px;
		line-height: 52px;
	}

	.main__header {
		margin: 0 auto;
	}
}

@media (max-width: 679px) {
	.main__title {
		margin-top: 220px;
		width: 100%;
		height: 111px;
		font-size: 27px;
		line-height: 37px;
	}
	
	.main__subtitle {
		margin-bottom: 28px;
	}
}

 