.profile {
	color: #fff;
	margin: 0 auto;
	max-width: 410px;
}

.profile__container {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.profile__title {
	font-weight: 500;
	font-size: 24px;
	line-height: auto;
	text-align: center;
}

.profile__form {
	margin-top: 123px;
	display: flex;
	flex-direction: column;
	
}

.profile__form-error {
	margin: 0;
	padding: 0;
	color: #EE3465;
	font-weight: 400;
	font-size: 10px;
	line-height: auto;
}

.profile__form-label {
	margin: 0;
	padding: 0;
	padding-bottom: 16px;
	font-weight: 500;
	font-size: 11px;
	line-height: auto;
	display: flex;
	justify-content: space-between;
}

.profile__input {
	display: flex;
	flex-direction: column;
}

.border {
	margin-bottom: 17px;
	border-bottom: 1px solid #424242;
}

.profile__form-input {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 400;
	font-size: 11px;
	line-height: auto;
	border: none;
	background-color: transparent;
	text-align: end;
}


.profile__edit-button {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: 400;
	font-size: 13px;
	line-height: auto;
}

.profile__exit-button {
	margin: 0;
	padding: 0;
	margin-top: 16px;
	text-decoration: none;
	color: #EE3465;
	text-align: center;
	font-weight: 500;
	font-size: 13px;
	line-height: auto;
}

.profile__submit-error {
	margin: 0;
	padding: 0;
	margin-top: 189px;
	font-weight: 400;
	font-size: 11px;
	line-height: 13.3px;
	text-align: center;
}

.profile__submit-error_type_error {
	color: #EE3465;
}

.profile__submit-error_type_success {
	color: #4285F4;
}

.profile__save-button {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
	height: 45px;
	background-color: #4285F4;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: auto;
	color: #fff;
	cursor: pointer;
}

.profile__save-button:disabled {
	background-color: #F8F8F8;
	color: #C2C2C2;
	cursor: none;
}

@media (max-width: 679px) {
	.profile {
		max-width: 260px;
	}
}